h2,
p {
  color: #fff;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Box */
.home-box {
  width: 60%;
  padding: 20px;
  margin: auto;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  border: 2px solid #fff;
  border-radius: 30px;
}

.home-box img {
  width: 200px;
}
.skills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box-info h3 {
  color: #ffd700;
  margin: 20px 0 10px 0;
}
.box-info .skills-container * {
  padding: 5px 10px;
  height: 25px;
  width: fit-content;
  margin: 10px;
  text-align: center;
  margin: auto;
}
.icon-html {
  color: #f06529;
}
.icon-css {
  color: #fff;
}
.icon-js {
  color: #f7df1e;
}
.icon-react {
  color: #61dafb;
}
/* Contact */
.contact-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 30px;
  width: 100%;
}
.contact-container p {
  font-size: 17px;
}
.icon-copy-container{
  width: 30px;
}
.icon-copy {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 20px;
  transition: padding 0.2s;
}
.icon-copy:hover {
  padding: 10px;
  cursor: pointer;
}

/* Languages */

.languages {
  width: 70%;
  margin: 40px 0;
}
.languages-top, .proyects-top{
  display: flex;
  gap: 10px;
    align-items: center;
}
.languages-top,
.proyects-top {
    margin-bottom: 20px;
}

.icon-language{
  font-size: 40px;
  color: #f7df1e;

}
/* Proyects */
.proyects {
  width: 70%;
  margin-bottom: 100px;
}
.icon-proyect{
    font-size: 30px;
    color: #f7df1e;
}
.proyects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  gap: 20px;
}
.proyect {
  background-color: #000000;
  padding: 20px;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
  height: 180px;
  justify-content: space-around;
  text-decoration: none;
}
.proyect-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 170px;
}
.proyect-info {
  width: 150px;
}

.proyect-main h3 {
  text-align: center;
}
.proyect img {
  width: 100px;
  height: 100px;
}
.proyect h3 {
  color: #fff;
}


/* Responsive design */
@media only screen and (min-width: 920px){
  .box-info{
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .proyects-container{
    gap: 20px 30px;
  }
  .proyect{
    width: 260px
  }
}
@media only screen and (min-width: 1200px){
  .home-box{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
  }
  .proyect{
    width: 300px
  }
  
}
@media only screen and (min-width: 1500px){
  
  .proyect{
    width: 350px
  }
  
}
@media only screen and (min-width: 1600px){
  
  .proyect{
    width: 400px
  }
  
}
@media only screen and (min-width: 1900px){
  
  .proyect{
    width: 260px
  }
  
}