
.layout{
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(52, 89, 252) 0%,
    rgba(0, 166, 255, 1) 100%
  );
  background-repeat: no-repeat;
}
header, footer{
  text-align: center;
  padding: 20px;
}
footer{
  text-align: center;
}
header h1, footer h3{
  color: #fff;
}

