
body{
    background-color: black;
}
form{
    background-color: rgb(33, 88, 133);
    color: #fff;
    width: 500px;
    height: fit-content;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    gap: 20px;
  
}

form h2 b{
    color: #34d672;
}
.datos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input{
    padding: 20px;
    text-align: center;
}

form input[type="text"]{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    transition: all .3s;
}
form input[type="text"]::placeholder{
    color: #fff;
}
form input[type="text"]:focus{
    outline: none;
    font-size: 18px;
    border-bottom: 1px solid #34d672;
}
form input[type="submit"]{
    background-color: #34d672;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}
form input[type="submit"]:hover{
    cursor: pointer;
}